*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: url("login.jpg") no-repeat;
    background-size: cover;  
}
.login-form{
    width: 350px;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position:absolute;
    color:#fff;
}
.login-form h1{
   font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.login-form p{
    font-size: 20px;
    margin:15px 0;
}

.login-form input {
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.login-form button{
    font-size: 18px;
    font-weight: bold;
    position:relative ;
    left: 115px;
    top: 0px;
    line-height: 30px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    margin: 20px 0px 0px 20px;
    text-align: center;
    margin: 20px 0;
    padding: 10px 15px;
    width:50%;
}